<div class="row">
    <div class="col-md-8">
        <ul class="list-inline" role="tablist">
            <li role="presentation">Temperature <span class="label temperature-value" ng-class="{'label-success': !vm.temperatureWarning, 'label-danger': vm.temperatureWarning}" ng-bind="vm.environment.fahrenheit"></span></li>
            <li role="presentation">Humidity <span class="label label-default humidity-value" ng-bind="vm.environment.humidity"></span></li>
            <li role="presentation">Outside <span class="label label-default outside-temperature-value" ng-bind="vm.outsideData.temp_f"></span></li>
        </ul>
    </div>

    <div class="col-md-4 text-right" ng-click="vm.hideDetails = !vm.hideDetails">
        <small class="selectable" ng-bind="vm.environment.published_at | date: 'short'"></small> <i class="selectable glyphicon ng-scope" ng-class="{'glyphicon-chevron-down': !vm.hideDetails, 'glyphicon-chevron-right': vm.hideDetails}"></i>
    </div>
</div>

<!--<div class="row">-->
    <!--<div class="col-md-12">-->
        <!--<h1 class="selectable" ng-click="vm.hideDetails = !vm.hideDetails">{{vm.device.description}}</h1>-->
    <!--</div>-->
<!--</div>-->

<div class="row" ng-hide="vm.hideDetails">
    <div class="col-md-12">
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="(key, value) in vm.environment">
                {{key}} - {{value}}
            </li>
        </ul>
        <div class="pull-right">
            <button class="btn btn-default" ng-click="vm.refreshData(vm.environment.coreid)">Refresh</button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <highchart id="chart1" config="chartConfig" class="col-md-12"></highchart>
    </div>
</div>